<div class="center jumbotron">
<h2>Requests for creating account</h2>
<br>
  <h4>
	<% if !@accounts.empty? %> 
	
		<table id="transaction_table">
			<tr>
				<td>User name</td>
				<td>Email</td>
				<td>Account ID</td>
				<td>Requested at</td>
				<td>Action</td>
			</tr>  
	
	<% @accounts.each do |account| %>
	
		<div>
			<tr>
			<td><%= "#{account.user.name}" %>
			<td><%= "#{account.user.email}" %>
			<td><%= "#{account.account_id}" %>
			<td><%= "#{account.created_at}" %>
			<% params = Hash.new %>
			<% params[:account_id] = account.id %> 
			<td><%= link_to "Approve", approve_or_decline_account_path(:account_id => account.id, :decision => 1) %><%= "/" %>
			<%= link_to "Decline", approve_or_decline_account_path(:account_id => account.id, :decision => 2) %>
			</tr>
		</div>
	<% end %>
		</table>
	<% end %>
  </h4>
<br>
  <%= link_to "Back to manage accounts", manage_accounts_path() %>
</div>


