<div class="center jumbotron">
<h2>Accounts</h2>
<br>
  <h4>
	<% if !@accounts.nil? %>
	<% @accounts.each do |account| %>
	<% if account.status != cancelled_status %>
		<div>
			<%= "Account ID: #{account.account_id}" %><br>
			<%= "Balance: #{account.balance}" %><br>
			<%= link_to "view details", view_account_details_path(account) %><br>
			<%= link_to "view transaction history", view_transaction_history_path(account) %><br>
			<%= link_to "delete this account", delete_account_path(account) %><br>
		</div>
		<br><br>
	<% end %>
	<% end %>
	<% end %>
  </h4>
<br>
  <%= link_to "Back to manage accounts", manage_accounts_path() %>
</div>


