<div class="center jumbotron">
<h2>Accounts</h2>
<br>
  <h4>
	<% if !@accounts.nil? %>
		<table id="transaction_table">
			<tr>
				<td>Account Owner</td>
				<td>Account ID</td>				
				<td>Balance</td>
				<td colspan=3>Actions</td> 
			</tr>  
	<% @accounts.each do |account| %>
	<% if account.status != cancelled_status %>
		<div>
		<tr>
			<td><%= "#{account.user.name}" %>
			<td><%= "#{account.account_id}" %>
			<td><%= "#{account.balance}" %>
			<td><%= link_to "Details", view_account_details_path(account) %>
			<td><%= link_to "Transaction history", view_transaction_history_path(account) %>
			<td><%= link_to "Delete account", delete_account_path(account) %>
		</tr>
		</div>
	<% end %>
	<% end %>
		</table>
	<% end %>
  </h4>
<br>
  <%= link_to "Back to manage accounts", manage_accounts_path() %>
</div>


