<div class="center jumbotron">
<h2>Transactions history</h2>
<br>
Account details of <%= @account.user.name %>:<br>
<%= "Account number: #{@account.account_id}" %><br>
<%= "Account balance: #{@account.balance}" %>
  <h4>

	<table id="transaction_table">
			<tr>
				<td>Transaction ID</td>
				<td>Transaction status</td>
				<td>Start time</td>
				<td>Finish time</td>
				<td>Type</td>
				<td>Amount</td>
				<td>Source Account Number</td>
				<td>Destination Account Number</td>
				<td>Action</td>
			</tr>  

	<% @account.transactions.each do |transaction| %>
		<div>
			<tr>
			<td><%= "#{transaction.id}" %>
			<td><%= "#{status_name transaction.status}" %>
			<td><%= "#{transaction.start}" %>
			<td><%= "#{transaction.finish}" %>
			<td><%= "#{transaction_name transaction.transaction_type}" %>
			<td><%= "#{transaction.amount}" %>
			<td><%= "#{transaction.account.account_id}" %>
			<td><% if transaction.transaction_type == 3 %>
				<% transfer = Transfer.find_by(:transaction_id => transaction.id) %>
				<% dest_account = Account.find_by(:id => transfer.account_id) %>
				<%= "#{dest_account.account_id}" %>
			<% end %>
			<td><% if transaction.status == pending_status && (transaction.transaction_type == deposit_type || transaction.transaction_type == withdraw_type) %>
				<%= link_to "Approve ", approve_or_decline_transaction_path(:transaction_id => transaction.id, :decision => '1', :url => 'history1', :account => @account) %><%= "/" %>
			<%= link_to "Decline", approve_or_decline_transaction_path(:transaction_id => transaction.id, :decision => '2', :url => 'history1', :account => @account) %>
			</tr>
			<% end %>
		</div>
	<% end %>
	</table>  
	<%= link_to "Go to account details", view_account_details_path(@account) %>
	
  </h4>
<br>
  <%= link_to "Back", view_account_details_path(@account) %>

</div>


