<div class="center jumbotron">
<h2>Users</h2>
<br>
  <h4>
	<% if !@users.nil? %>
	<% @users.each do |user| %>
		<div>
			<%= "Name: #{user.name}" %><br>
			<%= "Email: #{user.email}" %><br>
			<% if !user.is_admin %>			
				<%= link_to "view transaction history\n", view_transaction_history_of_user_path(user) %><br>
			<% end %>			
			<% if ((user.is_admin && user.admin.predefined != 1) || !user.is_admin) && user != current_user  %>
				<%= link_to "delete this user\n", destroy_user_path(user) %><br>
			<% end %>
		</div>
		<br><br>
	<% end %>
	<% end %>
  </h4>
<br>
  <%= link_to "Back to manage users page", manage_users_path() %>
</div>


