<div class="center jumbotron">
<h2>Transaction requests</h2>
<br>
  <h4>
	<% if !@transactions.nil? %>
		<table id="transaction_table">
			<tr>
				<td>Transaction ID</td>
				<td>Account ID</td>				
				<td>Amount</td>
				<td>Type</td>
				<td>Requested at</td>
				<td>Action</td>
			</tr>  
		<% @transactions.each do |t| %>
		<% if t.transaction_type != borrow_type %>
		<div>
			<tr>
			<td><%= "#{t.id}" %>
			<td><%= "#{t.account.account_id}" %>
			<td><%= "#{t.amount}" %>
			<td><%= "#{transaction_name t.transaction_type}" %>
			<td><%= "#{t.created_at}" %>
			<td><%= link_to "Approve", approve_or_decline_transaction_path(:transaction_id => t.id, :decision => '1', :url => 'requests') %><%= " / " %>
			<%= link_to "Decline", approve_or_decline_transaction_path(:transaction_id => t.id, :decision => '2', :url => 'requests') %>
			</tr>
		</div>
		<% end %>
		<% end %>
		</table>
	<% end %>
  </h4>
<br>
  <%= link_to "Back to manage accounts", manage_accounts_path() %>
</div>


