<div class="center jumbotron">
<h2>Account Details</h2>
<br>
  <h4>
	<% if !@account.nil? %>
		<div>
			<b><%= "Account number:" %></b> <%= "#{@account.account_id}" %><br>
			<b><%= "Balance:" %></b> <%= "#{@account.balance}" %><br>
			<b><%= "User:" %></b> <%= "#{@account.user.name}" %><br>
			<b><%= "Status:" %></b> <%= "#{account_status_name @account.status}" %><br>
			<b><%= "Created at:" %></b> <%= "#{@account.created_at}" %><br>
			<b><%= "Updated at:" %></b> <%= "#{@account.updated_at}" %><br><br>
			<%= link_to "view transaction history", view_transaction_history_path(@account) %><br>
			<%= link_to "delete this account", delete_account_path(@account) %><br>
			<% if @account.status == 3 %>		
				<%= link_to "activate this account", view_account_details_path(:id => @account.id, :decision => '1') %><br> 
			<% elsif @account.status == 1 %>
				<%= link_to "close this account", view_account_details_path(:id => @account.id, :decision => '2') %><br>			
			<% else %>
				<%= link_to "reopen this account", view_account_details_path(:id => @account.id, :decision => '1') %><br>			
			<% end %>	
		</div>
		<br><br>
	<% end %>
  </h4>
<br>
  <%= link_to "Back to list of accounts", view_accounts_path() %>
</div>


