<div class="center jumbotron">
<h2>Transactions of <%= @user.name %></h2>
<br>
Accounts of this user:
<% @accounts.each do |account| %>
<%= account.account_id %>
<% end %>
  <h4>
	<% @transactions.each do |transaction| %>
		<div>
			<%= transaction.id %><br>
			<%= transaction.status %><br>
			<%= transaction.start %><br>
			<%= transaction.finish %><br>
			<%= transaction.type %><br>
			<%= transaction.amount %><br>
			<%= transaction.account_id %><br>
			<% if transaction.type == 3 %><br>
				// display transfer
			<% end %>
				// status pending-0 approved-1 declined-2, type withdraw-1, deposit-2, transfer-3
			<% if transaction.status == 0 && transaction.type != 3 %>
				<%= link_to "approve transaction", _path(transaction, 1) %>
				<%= link_to "decline transaction", _path(transaction, 2) %>
			<% end %>
		</div>
		<br><br>
	<% end %>
  </h4>
<br>
  <%= link_to "Back to list of users", view_users_path() %>
</div>


