<div class="center jumbotron">
<h2>Borrow requests</h2>
<br>
	<% @transactions.each do |transaction| %>
		<div>
		<% if transaction.status == pending_status %>
			<%= "Transaction ID: #{transaction.id}" %><br>
			<%= "Transaction status: #{status_name transaction.status}" %><br>
			<%= "Requested at: #{transaction.start}" %><br>
			<%= "Amount: #{transaction.amount}" %><br>
			<%= "From account ID: #{transaction.account.account_id}" %><br>
			<% transfer = Transfer.find_by(:transaction_id => transaction.id) %>
			<% dest_account = Account.find_by(:id => transfer.account_id) %>
			<%= "transfer to destination account number: #{dest_account.account_id}" %><br>
			<% if transaction.status == pending_status %>
				<%= link_to "Approve transaction", approve_or_decline_transaction_path(:transaction_id => transaction.id, :decision => '1', :url => 'borrow', :account => @account) %>
			<%= link_to "Decline transaction", approve_or_decline_transaction_path(:transaction_id => transaction.id, :decision => '2', :url => 'borrow', :account => @account) %>
			<% end %>
		<% end %>
		</div>
  	<% end %>
</div>


