<h1>Search for other users!</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_tag(search_for_users_path, :method => "get", id: "search-form") do %>
    
    	<%= text_field_tag :search, params[:search], placeholder: "Search for users" %>
    	<%= submit_tag "Search", :name => nil %><br>

	<% end %>
 </div>

<div id = "search_results_list" >
<% if !@users.nil? %>
	<% @users.each do |user|%>	
		<% if user.id != current_user.id %>
			<h3><%= user.name %></h3>
			<h5><%= user.email %></h5>
			<%= link_to('Add Friend', add_friend_url(user)) %>
		<% end %>
		
	<% end %>
<% end %>
</div>