<div class="center jumbotron">
<h2>Transactions history</h2>
<br>
<% if !@accounts.nil? %>
	<div>

	<% @accounts.each do |account| %>
		<%= "Account number: #{account.account_id}" %><br>
		<table id="transaction_table">
			<tr>
				<td>Transaction ID</td>
				<td>Transaction status</td>
				<td>Start time</td>
				<td>Finish time</td>
				<td>Type</td>
				<td>Amount</td>
				<td>Source Account Number</td>
				<td>Destination Account Number</td>
				<td>Action</td>
			</tr>
		
		<h4>
			<% if !account.transactions.nil? %>
				<% account.transactions.each do |transaction| %>
				<tr>
					<div>
						<td><%= "#{transaction.id}" %></td>
						<td><%= "#{status_name transaction.status}" %></td>
						<td><%= "#{transaction.start}" %></td>
						<td><%= "#{transaction.finish}" %></td>
						<td><%= "#{transaction_name transaction.transaction_type}" %></td>
						<td><%= "#{transaction.amount}" %></td>
						<td><%= "#{transaction.account.account_id}" %></td>
						<td><% if transaction.transaction_type == borrow_type || transaction.transaction_type == transfer_type %>
							<% transfer = Transfer.find_by(:transaction_id => transaction.id) %>
							<% dest_account = Account.find_by(:id => transfer.account_id) %>
							<%= "#{dest_account.account_id}" %>
						<% end %></td>
						<td>
							<% if transaction.status == pending_status %>
							<%= link_to "Cancel", cancel_path(transaction) %></td>
						<% end %>
						</td>
					</div>
					<br><br>
				</tr>				
				<% end %>
			<% else %>
				<%= "No Transactions"%>
			<% end %>
		</h4>
		</table>			
	<% end %>
	</div>
<% else %>
	<%= "No Accounts"%>				
<% end %>
	<br>
</div>
