<div class="center jumbotron">
<h2>Transactions history</h2>
<br>
<% if !@accounts.nil? %>
	<div>
	<% @accounts.each do |account| %>
		<%= "Account number: #{account.account_id}" %><br>
		<h4>
			<% if !account.transactions.nil? %>
				<% account.transactions.each do |transaction| %>
					<div>
						<%= "Transaction ID: #{transaction.id}" %><br>
						<%= "Transaction status: #{status_name transaction.status}" %><br>
						<%= "Start time: #{transaction.start}" %><br>
						<%= "Finish time: #{transaction.finish}" %><br>
						<%= "#{transaction.transaction_type}" %><br>
						<%= "Amount: #{transaction.amount}" %><br>
						<%= "From account ID: #{transaction.account_id}" %><br>
						<% if transaction.transaction_type == 3 %><br>
							<%= "transfer to account ID: #{transaction.transfer.account_id.account_id}" %>
						<% end %>
					</div>
					<br><br>
				<% end %>
			<% else %>
				<%= "No Transactions"%>
			<% end %>
		</h4>
	<% end %>
	</div>
<% else %>
	<%= "No Accounts"%>				
<% end %>
	<br>
</div>
