<%= render 'shared/error_messages' %>

<p>
  Hi <%= @user.name %><br>
  <%= link_to "Account details", account_url(id: @user.id) %><br>
  <%= link_to "Create New Account", account_create_request_url(id: @user.id) %><br>
  <%= link_to "Search for other users", search_for_users_url(id: @user.id) %><br>
  <%= link_to "Show Friends", show_friends_url(id: @user.id) %><br>
  <%= link_to "Show Transactions", show_transactions_url(id: @user.id) %><br>
  <%= link_to "Deposit", deposit_url %> <br>
  <%= link_to "Withdraw", withdraw_url %> <br>
  <%= link_to "Borrow requests", borrow_requests_url %> <br>
			
</p>
